<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Links to style sheet-->
    <link rel="stylesheet" href="/css/style.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>AppKraft</title>
</head>

<body>

    <nav class="nav-wrapper indigo darken-1">
        <div class="container">
            <a href="#" class="brand-logo ">AppKraft</a>
            <a href="" class="sidenav-trigger" data-target="mobile-links"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="\" class="z-depth-1">Home</a></li>
                <li><a href="\">About</a></li>
                <li><a href="\">Contact</a></li>
                <li><a href="myApp.html">My Apps</a></li>
                <!-- LogIn -->
                <li><a href="#login" class="btn #fbc02d #ffa000 amber darken-2 modal-trigger"><span>LogIn</span></a>

                </li>

            </ul>
        </div>

        <!-- modal -->
        <div class="modal" id="login">
            <div class="modal-content" style="color: black">
                <h4>Login</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ipsam optio laboriosam
                    eveniet nihil
                    voluptatibus quidem totam? Delectus, dolor accusantium vel asperiores est doloremque,
                    incidunt,
                    tempora eos obcaecati quidem ipsum.</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-close btn orange">Submit</a>
            </div>
        </div>
        <ul class="sidenav" id="mobile-links">
            <li><a href="\">Home</a></li>
            <li><a href="\">About</a></li>
            <li><a href="\">Contact</a></li>
            <li><a href="\">My Apps</a></li>
        </ul>

    </nav>
   
   <!-- footer -->
    <footer class="page-footer grey darken-3">
        <div class="container">
            <!-- <div class="row">
                <div class="col l6 s12">
                    <h5>About Me</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at lacus congue.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at lacus congue, suscipit
                        elit nec, tincidunt orci.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#">Facebook</a></li>
                        <li><a class="grey-text text-lighten-3" href="#">LinkedIn</a></li>
                        <li><a class="grey-text text-lighten-3" href="#">Instagram</a></li>
                    </ul>
                </div>
            </div> -->
            <div class="footer-copyright grey darken-3">
                <div class="container center-align">&copy; 2019 Farjana Huq</div>
            </div>
        </div>
    </footer>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../public/js/appKraft.js"></script>
</body>

</html>